@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web:wght@400;600&display=swap");

#root {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: "Titillium Web", sans-serif;
}

.content {
	margin: 0 auto;
	max-width: 1024px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Bebas Neue", serif;
}

.eczar {
	font-family: "Bebas Neue", serif;
}

a {
	color: inherit !important;
	display: block;
}
